@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E3E6FF;
}

.header{
    width: 100%;
    background: #7E88E6;
}

.header h1 {
    font-family: "Stack Sans Text", sans-serif;
    color: #00114F;
    padding: 20px;
    font-size: 35px;
    text-align: center;
}

.start {
    display: flex;
    min-height: 92vh;
}

.sidebar {
    width: 260px;
    background-color:#C9CEFF;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}

.sidebar h2 {
    margin-bottom: 20px;
    font-family: "Stack Sans Text", sans-serif;
    font-size: 25px;
    text-align: center;
}

.sidebar img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.user-info {
    padding: 10px;
    margin-bottom: 17px;
}

.user-info p {
    margin: 5px 0;
    color: #2c3e50;
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    text-align: center;
}

.btn-logout {
    background-color: #1C23AD;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px;
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
}

.btn-logout:hover {
    background-color: #7C00B8;
}

.main-content {
    width: 100%;
}

.main-content nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 20px 0;
    margin-top: 8px;
}

.main-content nav a {
    background-color: #1C23AD;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: "Varela Round", sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.main-content nav a:hover {
    background-color: #7C00B8;
}

.start-info {
    background: white;
    padding: 30px;
    margin: 10px;
    margin-right: 30px;
    border-radius: 8px;
}

.start-info h2 {
    color: #00114F;
    margin-bottom: 15px;
    font-family: "Stack Sans Text", sans-serif;
    font-size: 35px;
}

.start-info p {
    margin: 5px 0;
    color: #2c3e50;
    font-family: "Varela Round", sans-serif;
    font-size: 17px;
}

.foot {
    width: 100%;
    height: 40px;
    background: #7E88E6;
}